/*
Color Scheme:
Black: #0a0908
Black: #000000
Outer Space: #464646
Chocolate Cosmos: #49111c
White Smoke: #f2f4f3
Beaver: #a9927d
*/

ul{
    text-align: left;
}

ol{
    text-align: center;
    list-style-position: inside;
}

.no-bullet {
    list-style-type: none;
}

a{
    color: #49111c;
    padding: 3px;
}

a img{
    border: 0;
    width: 88px;
    height: 31px;
}

main {
    max-width: 1200px; /* Adjust as needed */
    width: 90%; /* Adjust percentage based on design requirements */
    margin: 0 auto; /* Centers the content horizontally */
}

body{
    text-align: center;
    background-color: #a9927d;
    color: #0a0908;
    font-family: garamond, serif;
    width: 75%px;
    margin: 0 0 50px 0 auto;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
}

tr{
    padding: 0px 0px 0px 20px;
}

tr:nth-child(odd){
    color: #0a0908;
}

tr:nth-child(even) {
    color: #49111c;
}

tr:nth-child(1) {
    color: #000000;
}

th{
    background-color: #49111c;
    color: #a9927d;
}

.ranks{
    background-color: #464646;
    color: #a9927d;
}

table{
    margin: 0 auto;
}

form{
    align-items: center;
    text-align: left;
    padding: 10px;
    border: solid;
    margin: auto;
}

label, #courses{
    font-size: 30px;
    margin-top: 20px;
    display: block; 
}

input{
    font-size: 20px;
    display: block;
}

#identifiers{
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

#identifiers > span > label{
    width: 80%;
    margin: auto;
}

#identifiers > span > input{
    width: 80%;
    margin: auto;
}

.identifier-labels{
    font-size: 25px;
}

#personal-background, #professional-background, #academic-background, #web-development-background, #fun-fact, #additional-fact{
    width: 80%;
}

#course-list > li{
    margin: 20px auto;
}

.course-code{
    width: 20%;
}

.course-name, .course-reason{
    width: 70%;
}

.delete-course{
    background-color: #8a0214;
    color: #f2f2f2;
    position: relative;
    left: 59%;
}

#add-course{
    background-color: #205903;
    color: #f2f2f2;
}

#check{
    display: flex;
}

#check > label{
    font-size: 20px;
}

#checkbox{
    width: 20px;
}

#control-buttons{
    display: flex;
    justify-content: center;
}

#control-buttons > input{
    margin: 20px;
    width: 30%;
}

#image-captions{
    display: flex;
}

#image-captions > input{
    position: relative;
    height: 20px;
    top: 25px;
    margin: 0 15px 0 5px;
}

#slides-section{
    display: flex;
    justify-content: center;
}

#previous{
    margin: 0;
    position: relative;
    left: 40px;
    top: 16px;
    width: 40px;
    height: 500px;
    font-size: 20px;
}

#next{
    margin: 0;
    position: relative;
    right: 40px;
    top: 16px;
    width: 40px;
    height: 500px;
    font-size: 20px;
}

#first{
    display: block;
}

.slides{
    display: none;
}

.slide-captions{
    font-size: 30px;
}

#thumbnails img{
    width: 40px;
    margin: 2px 2px;
}

#thumbnails img:hover{
    margin: 0;
    border: 2px solid #49111c;
}

#thumbnail-captions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
    margin: 0 0 40px 10px;
}

#thumbnails p {
    margin: 0;
    padding: 0;
    font-size: 40px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    html {
        font-size: 100%;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        font-size: 80%;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        font-size: 90%;
    }
}