/*
Color Scheme:
Black: #0a0908
Black: #000000
Outer Space: #464646
Chocolate Cosmos: #49111c
White Smoke: #f2f4f3
Beaver: #a9927d
*/

ul{
    text-align: left;
}

ol{
    text-align: center;
    list-style-position: inside;
}

.bold{
    font-weight: bold;
}

a{
    color: #49111c;
    padding: 3px;
}

a img{
    border: 0;
    width: 88px;
    height: 31px;
}

main {
    max-width: 1200px; /* Adjust as needed */
    width: 90%; /* Adjust percentage based on design requirements */
    margin: 0 auto; /* Centers the content horizontally */
}

body{
    text-align: center;
    background-color: #a9927d;
    color: #0a0908;
    font-family: garamond, serif;
    width: 1000px;
    margin: 0 auto;
}

tr{
    padding: 0px 0px 0px 20px;
}

tr:nth-child(odd){
    color: #0a0908;
}

tr:nth-child(even) {
    color: #49111c;
}

tr:nth-child(1) {
    color: #000000;
}

th{
    background-color: #49111c;
    color: #a9927d;
}

.ranks{
    background-color: #464646;
    color: #a9927d;
}

table{
    margin: 0 auto;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    html {
        font-size: 100%;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        font-size: 80%;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        font-size: 90%;
    }
}