/*
Color Scheme:
Black: #0a0908
Chocolate Cosmos: #49111c
White Smoke: #f2f4f3
Beaver: #a9927d
*/

body{
    text-align: center;
    background-color: #a9927d;
    color: #0a0908;
    font-family: garamond, serif;
}

ul{
    text-align: left;
}

figure img{
    width: 200px;
}

.bold{
    font-weight: bold;
}

a{
    color: #49111c;
}

img{
    border: 0;
    width: 88px;
    height: 31px;
}