body{
    text-align: center;
    background-color: #e0ddcf;
    color: #474448;
    font-family: garamond, serif;
}

ul{
    text-align: left;
}

#professionalheadshot{
    width: 200px;
}

.bold{
    font-weight: bold;
}

a{
    color: #8e44ad;
}