/* Color Scheme:
Black: #0a0908
Black: #000000
Outer Space: #464646
Chocolate Cosmos: #49111c
White Smoke: #f2f4f3
Beaver: #a9927d
*/

/* === Element Selectors === */

a {
    color: #49111c;
    padding: 3px;
    white-space: nowrap;
}

a img {
    border: 0;
    width: 88px;
    height: 31px;
}

body {
    text-align: center;
    background-color: #a9927d;
    color: #0a0908;
    font-family: garamond, serif;
    height: 100%;
    width: 80%;
    margin: 0 auto 50px;
}

footer {
    text-align: center;
    padding: 20px;
}

form {
    align-items: center;
    text-align: left;
    padding: 10px;
    border: solid;
    margin: auto;
}

h2 {
    font-size: 35px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

html {
    height: 100%;
}

input {
    width: 100%;
    font-size: 20px;
    display: block;
}

label, #courses {
    font-size: 30px;
    margin-top: 20px;
    display: block; 
}

li {
    margin: 10px 0 10px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    flex: 1;
}

ol {
    text-align: center;
    list-style-position: inside;
}

p {
    max-width: 60%;
    margin: 10px auto;
}

table {
    margin: 0 auto;
}

th {
    background-color: #49111c;
    color: #a9927d;
}

ul {
    text-align: left;
    margin: 5px 0 5px 0;
}
/* === Class Selectors === */

.delete-course {
    background-color: #8a0214;
    color: #f2f2f2;
}

.identifier-labels {
    font-size: 25px;
}

.no-bullet {
    list-style-type: none;
}

.ranks {
    background-color: #464646;
    color: #a9927d;
}

.slide-captions {
    font-size: 30px;
}

.slides {
    display: none;
}

.thumbnail-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.thumbnail-column img {
    width: 40px;
    margin: 0;
    cursor: pointer;
}

.thumbnail-column img:hover {
    border: 2px solid #49111c;
}

/* === ID Selectors === */

#add-course {
    background-color: #205903;
    color: #f2f2f2;
}

#checkbox {
    width: 20px;
}

#check {
    display: flex;
}

#check > label {
    font-size: 20px;
}

#colorbox {
    font-size: 90%;
}

#control-buttons {
    display: flex;
    justify-content: center;
}

#control-buttons > input {
    margin: 20px;
    width: 30%;
}


#course-list > li {
    margin: 20px auto;
}

#credit {
    max-width: 100%;
}

#evaluations p {
    margin-bottom: 20px;
}

#evaluations ul {
    margin-bottom: 30px;
}

#first {
    display: block;
}

#identifiers {
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

#identifiers > span > input {
    width: 80%;
    margin: auto;
}

#identifiers > span > label {
    width: 80%;
    margin: auto;
}

#image-captions {
    display: flex;
}

#image-captions > input {
    position: relative;
    height: 20px;
    top: 25px;
    margin: 0 15px 0 5px;
}

#index-p {
    font-size: 25px;
    max-width: 100%;
    margin: -30px auto 0;
}

#next {
    margin: 0;
    position: relative;
    right: 40px;
    top: 16px;
    width: 40px;
    height: 500px;
    font-size: 20px;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#personal-background,
#professional-background,
#academic-background,
#web-development-background,
#fun-fact,
#additional-fact {
    width: 80%;
}

#previous {
    margin: 0;
    position: relative;
    left: 40px;
    top: 16px;
    width: 40px;
    height: 500px;
    font-size: 20px;
}

#slides-section {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#thumbnail-captions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
    margin: 0 0 40px 10px;
}

#thumbnail-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px auto;
}

#thumbnails img {
    width: 40px;
    margin: 2px 2px;
}

#thumbnails img:hover {
    margin: 0;
    border: 2px solid #49111c;
}

#thumbnails p {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

/* === Media Queries === */

/* Rule Overrides For Laptops / Small Screens */
@media screen and (min-width: 981px) and (max-width: 1400px) {
    html {
        font-size: 100%;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 980px) {
    #colorbox {
        font-size: 80%;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        font-size: 90%;
    }
}