/*
Color Scheme:
White: #FFFFFF
English Violet: #45364B;
Cool Gray: #8C93A8;
Raisin Black: #2D2327;
*/

a{
    color: #45364B;
}

header{
    background-color: #8C93A8;
    position: fixed;
    text-align: center;
    width: 1000px;
    padding-bottom: 20px;
}

main{
    padding-top: 110px;
}

body{
    text-align: center;
    color: #2D2327;
    width: 1000px;
    margin: 0 auto;
}

h2{
    font-size: 500px;
}