<header>
    <section id="social-media">
        <!--Icons pulled from flaticon.com/attributes found below-->
        <a href="https://www.instagram.com/candisehelwich/" target="_blank"><img src="../images/icon-instagram.png" alt="instagram"></a>
        <a href="https://www.tiktok.com/@candisecustoms?lang=en" target="_blank"><img src="../images/icon-tiktok.png" alt="tiktok"></a>
    </section>
    <h1>Candise Customs</h1>
    <nav id="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="commission.html">Commissions</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
</header>