<footer>
    <p>Built by Isaiah Helwich, certified in <a href="https://freecodecamp.org/certification/isaiahmhelwich/responsive-web-design ">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/isaiahmhelwich/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms and Data Structures</a>. &copy;2025</p>
    <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
    <script>
        document.getElementById("validation-link-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-link-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>