<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/ihelwich/">CLT Web</a>
        <a href="https://github.com/ihelwich">GitHub</a>
        <a href="https://ihelwich.github.io/">GitHub.io</a>
        <a href="https://www.freecodecamp.org/isaiahmhelwich">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/ihelwich">Codecademy</a>
        <a href="https://www.linkedin.com/in/isaiah-helwich/">LinkedIn</a>
    </nav>
    <p>Built by <a href="helwichco.com">Helwich &amp; Co.</a>, Certified in <a href="https://freecodecamp.org/certification/isaiahmhelwich/responsive-web-design ">Responsive Web Design</a>. &copy;2025</p>
    <script>
        document.getElementById("validation-link-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-link-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>