<header>
    <h1>ITIS 3135 | Isaiah Helwich's | Iron Hawk</h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="byo_intro.html">BYO Introduction</a>
    </nav>
    <nav>
        <a href="project_overview.html">Client Webpage</a>
        <a href="hobby/">Hobby Site</a>
        <a href="helwichco.com/">Design Firm</a>
        <a href="ironhawktalons/">Whimsical Company</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="stuff/stuff/$tuff goes HERE.htm">Crappy Webpage</a>
        <a href="slidesshow.html">Slideshow</a>
        <a href="drawing.html">Drawing</a>
        <a href="tables.html">HTML Tables</a>
    </nav>
</header>